<mat-card>

    <div class="example-card">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      
    
            <mat-grid-list cols="5" rowHeight="2:1">

                <!-- [label]="file.name", -->
                <!-- <h1>{{tabNumber}}</h1> -->
                <mat-grid-tile *ngFor="let file of files">
                    <!-- <app-file-picker-check-box [tabNumber]="tabNumber"></app-file-picker-check-box> -->
                    <app-file-picker-check-box [label]="file.name" [tabNumber]="tabNumber" ></app-file-picker-check-box>

                </mat-grid-tile>
    
            </mat-grid-list>
    
    
    
    </div>
    


</mat-card>

 