<div class="version-picker-model"></div>
<h2 mat-dialog-title>Release Version Picker</h2>
<mat-dialog-content class="mat-typography">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Year Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.year}} </mat-cell>
        </ng-container>
      
        <!-- March Column -->
        <ng-container matColumnDef="march">
          <mat-header-cell *matHeaderCellDef> March </mat-header-cell>
          <mat-cell *matCellDef="let element" > <div [class.square]="isVersionSelected(element.march)" (click)="versionClick($event)" style="text-align: center;"> {{element.march}} </div></mat-cell>
        </ng-container>
      
        <!-- June Column -->
        <ng-container matColumnDef="june">
          <mat-header-cell *matHeaderCellDef> June </mat-header-cell>
          <mat-cell *matCellDef="let element"  > <div [class.square]="isVersionSelected(element.june)" (click)="versionClick($event)" style="text-align: center;"> {{element.june}} </div></mat-cell>
        </ng-container>
      
        <!-- September Column -->
        <ng-container matColumnDef="september">
          <mat-header-cell *matHeaderCellDef> September </mat-header-cell>
          <mat-cell *matCellDef="let element" > <div [class.square]="isVersionSelected(element.september)" (click)="versionClick($event)" style="text-align: center;"> {{element.september}} </div></mat-cell>
        </ng-container>
      
        <!-- December Column -->
        <ng-container matColumnDef="december">
            <mat-header-cell *matHeaderCellDef> December </mat-header-cell>
            <mat-cell *matCellDef="let element"> <div [class.square]="isVersionSelected(element.december)" (click)="versionClick($event)" style="text-align: center;"> {{element.december}} </div> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


</mat-dialog-content>
<mat-dialog-actions align="end">
 
  <div style="display: inline;">
    Selected Releases:
    <div *ngFor="let v of selectedReleases" class="selected-releases" style="display: inline-block;">
      <div>{{v}}</div>
    </div>
  </div>
  
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="submitVersion()">Ok</button>
</mat-dialog-actions>


