<div class="container">
  <app-header></app-header>
  
  <app-version-picker-button></app-version-picker-button>
  <mat-divider></mat-divider>



<div [style.display]="!isVersionSelected?'none':''">
  <div class="mat-subheading-2 header2">Download same file for selected releases?</div>

  <mat-radio-group aria-label="Select an option"  > 
      <mat-radio-button value="1" (change)="radioChange($event)" checked="">Yes</mat-radio-button >
      <mat-radio-button value="2" (change)="radioChange($event)">No</mat-radio-button>
  </mat-radio-group>

</div>


<!-- <app-radio-button></app-radio-button> -->

<app-tab *ngIf="isVersionSelected ; else elseBlock">
</app-tab>

<ng-template #elseBlock>

  <h1>Welcome to Reactome's Archive Downloader! </h1>
  <h3> 

    To begin, please select the version(s) of Reactome for which you would like to download files by clicking the "Select Version(s)" button.
    
    After selecting your version(s), you can select individual files for download.  If you wish to download the same files for all selected version numbers, check the "Download same files for selected releases?" to 'yes'.
    
    After selecting all files, click the "Download files" button to review and finish your downloading.</h3>

</ng-template>



<div style="position:absolute;right: 10px;bottom:10px;" [style.display]="!isVersionSelected?'none':''">
  <button mat-stroked-button color="warn" (click)="openSummaryModel()">Review Selections & Download</button>
</div>



</div>


