<div class="version-picker-model"></div>
<h2 mat-dialog-title>Release Version Picker</h2>
<mat-dialog-content class="mat-typography">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="march">
          <mat-header-cell *matHeaderCellDef> March </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.march}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="june">
          <mat-header-cell *matHeaderCellDef> June </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.june}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="september">
          <mat-header-cell *matHeaderCellDef> September </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.september}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="december">
            <mat-header-cell *matHeaderCellDef> December </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.december}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Selected Releases</button> -->
  <p class="selected-releases">Selected Releases</p>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" >Ok</button>
</mat-dialog-actions>
