/* .example-button-row button,
.example-button-row a {
  margin-right: 8px;
} */

.version-picker-button{
    display: inline;
    margin-left: 10px;
}

.version-picker-button:focus{
  outline: none ;
  border: 0 ;
}